@import "../../scss/variables";
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fff;
  height: 100vh;
}
.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
  h1 {
    font-size: 30px;
    font-family: $font-alt;
    font-weight: 400;
  }
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f1f1;
  width: 380px;
  padding: 5rem;
  h1 {
    font-size: 30px;
    font-family: $font-alt;
    font-weight: 400;
  }
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f1f1;
  width: 380px;
  padding: 5rem 5rem 0 5rem;
  gap: 1rem;
  span {
    width: 100%;
    background-color: #ff3333;
    font-size: 15px;
    margin-bottom: 1rem;
    border-radius: 1rem;
    color: whitesmoke;
    padding: 1rem;
  }
  label {
    align-self: flex-start;
    font-size: 16px;
    font-weight: 700;
  }
  input {
    width: 100%;
    border: none;
    outline: none;
    background-color: unset;
    border-bottom: 1px solid #3c3c3c;
    font-size: 16px;
    padding: 1rem;
  }
  .submitButton {
    border-bottom: unset;
    cursor: pointer;
    width: unset;
  }
}
.buttons {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: $font-alt;
  font-weight: 300;
  margin-top: 5rem;
  padding: 2rem;
  background-color: #fff;
  :nth-child(1) {
    transform: translateX(-50%);
  }
  :nth-child(2) {
    transform: translateX(50%);
    border: 1px solid #3c3c3c;
    padding: 1rem;
  }
}
@media screen and (max-width: 830px) {
  .form {
    width: 100%;
  }
  .buttons {
    width: calc(100% + 10rem);
    :nth-child(1) {
      transform: translateX(0);
    }
    :nth-child(2) {
      transform: translateX(0);
      border: 1px solid #3c3c3c;
      padding: 1rem;
    }
  }
}
