.formStep {
  font-size: 24px;
  font-weight: 300;
  color: #3c3c3c;
  margin-bottom: 2rem;
}
.formTitle {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 2rem;
}
.selectSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  span {
    font-size: 24px;
    font-weight: 300;
  }
  select {
    font-size: 24px;
    padding: 1rem 5rem 1rem 2rem;
    option {
      font-size: 24px;
    }
  }
}
